body {
    background-color: black
}
div {
    width: 50%;
    margin-left: 25%;
}
img {
    border: solid white;
    width: 100%;
}
h1 {
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
}

h1, p {
    color: white;
    text-align: center;
}